{
  "overrides": [
    {
      "files": ["contracts/**/*.sol"],
      "options": {
        "printWidth": 120,
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": false
      }
    },
    {
      "files": ["**/*.js", "**/*.ts"],
      "options": {
        "printWidth": 120,
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": true,
        "arrowParens": "avoid",
        "explicitTypes": "always"
      }
    }
  ]
}
